* text=auto

# Sources
*.cc   text diff=cpp
*.hh   text diff=cpp

# Compiled Static libraries
*.a     binary
*.lib   binary

# Source code
*.js              text
*.json            text
*.ts              text

# Documentation
*.txt             text
LICENSE           text

# Configs
*.config          text
.editorconfig     text
.env              text
,gitignore        text
.gitattributes    text
.gitconfig        text
*.lock            text -diff
package.json      text eol=lf

# Apply override to all files in the directory
*.md linguist-detectable diff=markdown

# Fix syntax highlighting on GitHub to allow comments
tsconfig.json     linguist-language=JSON-with-Comments
.vscode/*.json linguist-language=JSON-with-Comments

# Git LFS
*.lib filter=lfs diff=lfs merge=lfs -text
